@model IEnumerable<AvcolCanteen.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>
<!-- Search bar -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <form asp-controller="Orders" asp-action="Index" method="get" class="d-flex" style="margin-top:20px;">
        <div class="form-group mb-0">
            <input type="text" name="searchString" class="form-control searchbar" placeholder="Search User Email" value="@ViewData["CurrentFilter"]" />
        </div>
        <input type="submit" value="Search" class="btn btn-primary ms-2" />
    </form>
    <!-- Button to create a new order -->
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvcolCanteenUser) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvcolCanteenUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    <!-- Edit button -->
                    <a asp-action="Edit" asp-route-id="@item.OrderID" class="btn btn-warning btn-sm custom-warning-btn">Edit</a>
                    <!-- Details button -->
                    <a asp-action="Details" asp-route-id="@item.OrderID" class="btn btn-info btn-sm custom-info-btn">Details</a>
                    <!-- Delete button -->
                    <a asp-action="Delete" asp-route-id="@item.OrderID" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
