@model IEnumerable<AvcolCanteen.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>
<div class="d-flex justify-content-between align-items-center mb-3">
    <form asp-controller="Carts" asp-action="Index" method="get" class="d-flex" style="margin-top:20px;">
        <div class="form-group mb-0">
            <input type="text" name="searchString" class="form-control searchbar" placeholder="Search Product Name" value="@ViewData["CurrentFilter"]" />
        </div>
        <input type="submit" value="Search" class="btn btn-primary ms-2" />
    </form>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orders.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CartID" class="btn btn-warning btn-sm custom-warning-btn">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CartID" class="btn btn-info btn-sm custom-info-btn">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CartID" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
