@model IEnumerable<AvcolCanteen.Models.Products>

@{
    ViewData["Title"] = "Menu";
}


@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Special)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Special)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
<h1 class="heading">Menu</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
	<div class="card">
		<h1>Cart</h1>
		<ul class="listCard">
		</ul>
		<div class="checkOut">
			<div class="total">0</div>
			<div class="closeShopping">Close</div>
		</div>
	</div>
</div>
@foreach (var item in Model){
<div class="all-products">
	<div class="product">
		<img src="~/Images/burger1.png">
		<div class="product-info">
			<h4 class="product-title">
                    @Html.DisplayFor(modelItem => item.Name)
                </h4>
                <p class="product-price">
                    @Html.DisplayFor(modelItem => item.Price)
                </p>
			<a class="product-btn" href="#">Buy Now</a>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
            </div>
	</div>
</div>
}